</html>
<head>
  <head>
   <title>Downloads</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<style>
.contact-image {
  height:170px;
  width:100%;
  background-size:cover;
}
</style>  
</head>

<body>

  {% include 'header.html' %}

  {% block content %}

  {% endblock %}

<div style="margin-top: 25px;" class="container">
  <div class="row">
    <div class="col-sm text-center">
      <h1 class="div-heading display-4">Contact US</h1>
    </div>
  </div>

  

  <div style="margin-top: 35px;" class="row">
    <div class="col-md-6">
      <form action = "/scriptrequest" method = "POST">
        {% csrf_token %} 
        <div class="form-group">
          <input name="name" type="name" class="form-control" id="exampleInputName" placeholder="Your Full Name...">
        </div>
        <div class="form-group">
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email Address...">
        </div>
        <div class="form-group">
          <input name="mobile" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Mobile No...">
        </div>
        <div class="form-group">
          <input name="website_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Website name">
        </div>
        <div class="form-group">
          <input name="website_url" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Website link">
        </div>
        <button type="submit" class="btn btn-warning btn-lg btn-block">Submit</button>
      </form>
    </div>
    <div  style="margin-left: 15%;" class="col-md-4">
      <h5>Address: enkatadri IT Park, HP Avenue, Konnappana, Electronic city, Bengaluru, Karnataka 560069</h5>
      <h5>Email: hire@luxurytaxicab.com</h5>
      <h5>Contact: +91 98765 10278 || +91 76589 14244</h5>
      
      <div class="text-center">
        <img class="img-fluid contact-image" alt="Responsive image" src="https://csds.qld.edu.au/sdc/resources/images/find-us-map.jpg" class="rounded" alt="...">
      </div>
    </div>
  </div>
</div>
</body>
</html>